.forgot-password {
  margin: 0 auto;
  max-width: 55rem;
  text-align: center;
  padding: 2rem 0;
}

.forgot-password__link {
  color: #55c57a;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
}

.show-password {
  display: inline-block;
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  line-height: 1;
  cursor: pointer;
}

.show-password__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #bbb;
}
