extends ../base

block content
  main.main
    .reset-password-form
      h2.heading-secondary.ma-bt-lg Enter New Password To Reset
      form#form-reset-password.form
        input#token(type='hidden', value=`${token}`)
        .form__group
          label.form__label(for='password') New password
          input#password.password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .show-password 
            svg.show-password__icon
              use.eye-icon(xlink:href=`/img/icons.svg#icon-eye`)
        .form__group.ma-bt-lg
          label.form__label(for='password-confirm') Confirm new password
          input#password-confirm.password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .show-password 
            svg.show-password__icon
              use.eye-icon(xlink:href=`/img/icons.svg#icon-eye`)
        .form__group
          button.btn.btn--green Submit
